a.none {text-decoration: none;color: silver;}
a.edit {text-decoration: none;color: silver;}

i {margin-right: 8px;}
i.fa {color: gray;}
i.fa.fa-refresh {margin-left: 5px; color: #dadcda;}

ul {list-style: none;}

#list {border-bottom: 1px solid #EEE; padding-bottom: 20px;}




